@import "fonts";
@import "base";
@import "search";

.welcome {
  //background-color: #9e9e9e;
  background-image: url("../img/bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  .close-welcome {
    color: white;
    position: absolute;
    right: 10px;
    top: 80px;
    font-size: 35px;
  }
  h2 {
    text-align: center;
    color: black;
    font-size: 50px;
  }
  .container {
    text-align: center;
  }
}

.list {
  padding: 40px 0;
  .pagi {
    text-align: center;
  }
  .nickname {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    width: 60%;
  }
}

.intro {
  .container {
    padding: 50px 0;
    border-bottom: 1px solid #d0d4d9;
  }
  .row {
    display: flex;
    align-items: center;
  }
  svg {
    width: 40%;
    height: 40%;
  }
}

.retro {
  .retro-inner {
    padding: 100px 0;
    h3 {
      text-align: center;
    }
  }
}

footer {
  background-color: #222;
  color: #dbdbdb;
  padding: 30px 0;
  .overview {
    border-bottom: 1px solid #dbdbdb
  }
  .links {
    ul {
      list-style: none;
      padding: 0;
    }
  }
  .copyright {
    padding-top: 15px;
    p {
      margin-bottom: 0;
    }
  }
}

//
//footer {
//  height: 300px;
//  background-color: #fcfcfc; //todo to be extracted
//}